<div class="page">
  <div class="page-header">
    <h1 class="page-title">Meu Perfil</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Início</a></li>
      <li class="breadcrumb-item active">Meu Perfil</li>
    </ol>
  </div>

  <div class="page-content">
    <div class="panel">
      <header class="panel-heading">
        <h3 class="panel-title">
          Atualizar informações de perfil
        </h3>
      </header>
      <div class="panel-body container-fluid">
        <div class="row row-lg">
          <div class="col-md-12 col-lg-9">
              <div class="example">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, "data-parsley-validate" => true }) do |f| %>

                  <div class="form-group row">
                    <label class="col-md-3 form-control-label">Nome: </label>
                    <div class="col-md-6">
                      <%= f.text_field :first_name, class: "form-control", autofocus: true, 'data-parsley-required' => 'true', 'data-parsley-required-message' => 'Campo obrigatório.' %>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 form-control-label">Sobrenome: </label>
                    <div class="col-md-6">
                      <%= f.text_field :last_name, class: "form-control", 'data-parsley-required' => 'true', 'data-parsley-required-message' => 'Campo obrigatório.' %>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 form-control-label">Empresa: </label>
                    <div class="col-md-6">
                      <%= f.text_field :company_name, class: "form-control", autofocus: true %>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 form-control-label">E-mail: </label>
                    <div class="col-md-6">
                      <%= f.email_field :email, class: "form-control", autocomplete: "email", 'data-parsley-required' => 'true', 'data-parsley-required-message' => 'Campo obrigatório.' %>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 form-control-label">Senha: </label>
                    <div class="col-md-6">
                      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 form-control-label">Confirmação de senha: </label>
                    <div class="col-md-6">
                      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 form-control-label">Senha atual: </label>
                    <div class="col-md-6">
                      <%= f.password_field :current_password, autocomplete: "off", class: "form-control", 'data-parsley-required' => 'true', 'data-parsley-required-message' => 'Campo obrigatório.' %>
                      <small>* Necessário para alteração de informações do perfil</small>
                    </div>
                  </div>

                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div>Aguardando confirmação de e-mail: <%= resource.unconfirmed_email %></div>
                  <% end %>

                  <div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                      <%= f.submit "Atualizar", class: "btn btn-primary" %>
                      <%= link_to "Cancelar", projects_path, class: "btn btn-default btn-outline", method: :get %>
                    </div>
                  </div>

                <% end %>

                 <hr>

                 <div class="form-group row">
                   <div class="col-md-6">
                     <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza que deseja realizar esta ação??" }, method: :delete, class: "btn btn-danger btn-outline" %>
                   </div>
                 </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
