<div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">>
  <div class="page-content vertical-align-middle animation-slide-top animation-duration-1">
    <div class="brand">
      <img class="brand-img" src="/assets/images/logo.png" alt="...">
      <h2 class="brand-text">Tundra</h2>
    </div>
    <p>Preencha os dados abaixo para se cadastrar</p>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { "data-parsley-validate" => true }) do |f| %>

      <div class="form-group">
        <label class="sr-only" for="inputEmail">Primeiro Nome</label>
        <%= f.text_field :first_name, autofocus: true, placeholder: "Primeiro Nome", class: "form-control", 'data-parsley-required' => 'true', 'data-parsley-required-message' => 'Campo obrigatório.' %>
      </div>

      <div class="form-group">
        <label class="sr-only" for="inputEmail">Sobrenome (Opcional)</label>
        <%= f.text_field :last_name, placeholder: "Sobrenome (Opcional)", class: "form-control" %>
      </div>

      <div class="form-group">
        <label class="sr-only" for="inputEmail">Empresa (Opcional)</label>
        <%= f.text_field :company_name, placeholder: "Empresa (Opcional)", class: "form-control" %>
      </div>

      <div class="form-group">
        <label class="sr-only" for="inputEmail">Email</label>
        <%= f.email_field :email, autocomplete: "email", placeholder: "Email", class: "form-control", 'data-parsley-required' => 'true', 'data-parsley-required-message' => 'Campo obrigatório.', 'data-parsley-type': 'email', 'data-parsley-type-message': 'Por favor, informe um e-mail válido.' %>
      </div>

      <div class="form-group">
        <label class="sr-only" for="inputPassword">Senha</label>
        <%= f.password_field :password, autocomplete: "off", placeholder: "Senha", class: "form-control", 'data-parsley-required' => 'true', 'data-parsley-required-message' => 'Campo obrigatório.' %>
      </div>

      <div class="form-group">
        <label class="sr-only" for="inputPassword">Confirmar senha</label>
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirmar senha", class: "form-control", 'data-parsley-required' => 'true', 'data-parsley-required-message' => 'Campo obrigatório.' %>
      </div>

      <%= f.submit "Cadastrar", class: "btn btn-primary btn-block" %>

    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>
