<%= form_for @task, html: { class: "form-horizontal", "data-parsley-validate" => true } do |f|  %>

  <% if f.object.errors.any? %>
    <ul>
      <% f.object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-group row">
    <label class="col-md-3 form-control-label">Nome: </label>
    <div class="col-md-9">
      <%= f.text_field :name, class: "form-control", 'data-parsley-required' => 'true', 'data-parsley-required-message' => 'Campo obrigatório.' %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 form-control-label">Valor / hora: </label>
    <div class="col-md-9">
      <%= f.number_field :hourly_rate, class: "form-control", :step => 0.1, 'data-parsley-required' => 'true', 'data-parsley-required-message' => 'Campo obrigatório.' %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 form-control-label">Contabilizar horas: </label>
    <div class="col-md-9">
      <div class="radio-custom radio-default radio-inline">
        <%= f.radio_button :billable, true, value: @task.billable, id: "inputHorizontalMale" %>
        <label for="inputHorizontalMale">Sim</label>
      </div>
      <div class="radio-custom radio-default radio-inline">
        <%= f.radio_button :billable, false, value: @task.billable, id: "inputHorizontalFemale" %>
        <label for="inputHorizontalFemale">Não</label>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-9 offset-md-3">
      <%= f.submit "Salvar", class: "btn btn-primary" %>
      <%= link_to "Cancelar", tasks_path, class: "btn btn-default btn-outline", method: :get %>
    </div>
  </div>
<% end %>
