<tr>
  <td><%= task.name %></td>
  <td><i class="fa fa-usd"></i> <%= task.hourly_rate %></td>
  <td><%= task.billable ? "<span class='badge badge-outline badge-success'>Sim</span>".html_safe : "<span class='badge badge-outline badge-danger'>Não</span>".html_safe %></td>
  <td class="text-nowrap">

    <%= link_to edit_task_path(task), class: "btn btn-outline btn-success btn-xs", method: :get do %>
      <span><i class="icon wb-edit" aria-hidden="true"></i>Editar</span>
    <% end %>

    <%= link_to task, class: "btn btn-outline btn-danger btn-xs", method: :delete, data: { confirm: 'Tem certeza que deseja excluir esta tarefa?' } do %>
      <span><i class="icon wb-close" aria-hidden="true"></i>Excluir</span>
    <% end %>

  </td>
</tr>
