<div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
  <div class="page-content vertical-align-middle animation-slide-top animation-duration-1">
    <h2 class="brand-text">Esqueceu a senha?</h2>
    <p>Informe seu e-mail de cadastro para resetar sua senha</p>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { "data-parsley-validate" => true, method: :post}) do |f| %>

      <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Seu E-mail", class: "form-control", 'data-parsley-required-message' => 'Campo obrigatório.', 'data-parsley-type': 'email', 'data-parsley-type-message': 'Por favor, informe um e-mail válido.' %>
      </div>
      <div class="form-group">
        <%= f.submit "Resetar senha", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
