<% if flash[:notice] %>
  <div class="alert alert-alt alert-success alert-dismissible" role="alert">
    <a class="alert-link" href="javascript:void(0)"><%= flash[:notice] %></a>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-alt alert-danger alert-dismissible" role="alert">
    <a class="alert-link" href="javascript:void(0)"><%= flash[:alert] %></a>
  </div>
<% end %>
