<footer class="site-footer">
  <div class="site-footer-legal">© 2020 Tundra Time Tracker</div>
  <div class="site-footer-right">
    Crafted with <i class="red-600 wb wb-heart"></i> by <a href="https://danilovelozo.github.io/about/">Danilo Velozo</a>
  </div>
</footer>
