<nav class="site-navbar navbar navbar-inverse bg-blue-grey-700 navbar-fixed-top navbar-mega navbar-inverse"
  role="navigation">

  <div class="navbar-header">
    <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
      data-toggle="menubar">
      <span class="sr-only">Toggle navigation</span>
      <span class="hamburger-bar"></span>
    </button>
    <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse"
      data-toggle="collapse">
      <i class="icon wb-more-horizontal" aria-hidden="true"></i>
    </button>
    <div class="navbar-brand navbar-brand-center">

      <img class="navbar-brand-logo navbar-brand-logo-normal" src="/assets/images/logo.png"
        title="Tundra Time Tracker">

      <img class="navbar-brand-logo navbar-brand-logo-special" src="/assets/images/logo-colored.png"
        title="Tundra Time Tracker">

      <span class="navbar-brand-text hidden-xs-down"> Tundra Time Tracker </span>
    </div>
  </div>

  <div class="navbar-container container-fluid">
    <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
      <ul class="nav navbar-toolbar">
        <li class="nav-item hidden-float" id="toggleMenubar">
          <a class="nav-link" data-toggle="menubar" href="#" role="button">
            <i class="icon hamburger hamburger-arrow-left">
              <span class="sr-only">Toggle menubar</span>
              <span class="hamburger-bar"></span>
            </i>
          </a>
        </li>
      </ul>

      <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"
            role="button">Olá, <%= current_user.first_name %></a>
            <div class="dropdown-menu" role="menu">
              <%= link_to edit_user_registration_path, class: "dropdown-item", method: :get do %>
                <i class="icon wb-user" aria-hidden="true"></i> Perfil
              <% end %>

              <div class="dropdown-divider" role="presentation"></div>

              <%= link_to destroy_user_session_path, class: "dropdown-item", method: :delete do %>
                <i class="icon wb-power" aria-hidden="true"></i> Sair
              <% end %>
            </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" title="Notifications"
            aria-expanded="false" data-animation="scale-up" role="button">
            <i class="icon wb-bell" aria-hidden="true"></i>
            <span class="badge badge-pill badge-danger up">1</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
            <div class="dropdown-menu-header">
              <h5>NOTIFICAÇÕES</h5>
              <span class="badge badge-round badge-danger">1</span>
            </div>

            <div class="list-group">
              <div data-role="container">
                <div data-role="content">
                  <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
                    <div class="media">
                      <div class="pr-10">
                        <i class="icon wb-order bg-red-600 white icon-circle" aria-hidden="true"></i>
                      </div>
                      <div class="media-body">
                        <h6 class="media-heading">Mensagem de notificação aqui</h6>
                        <time class="media-meta" datetime="2018-06-12T20:50:48+08:00">5 horas atrás</time>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="dropdown-menu-footer">
              <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
                <i class="icon wb-settings" aria-hidden="true"></i>
              </a>
              <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                Mostrar todas
              </a>
            </div>
          </div>
        </li>

        <!-- Partial de Mensagens Aqui -->

      </ul>
    </div>
  </div>
</nav>
<div class="site-menubar site-menubar-light">
  <%= render "shared/menu" %>
</div>
