<div class="site-menubar-body">
  <div>
    <div>
      <ul class="site-menu" data-plugin="menu">

        <li class="site-menu-item ">
          <%= link_to timesheets_path, class: "animsition-link", method: :get do %>
            <i class="site-menu-icon wb-time" aria-hidden="true"></i>
            <span class="site-menu-title">Controle de horas</span>
          <% end %>
        </li>

        <li class="site-menu-item ">
          <%= link_to projects_path, class: "animsition-link", method: :get do %>
            <i class="site-menu-icon wb-briefcase" aria-hidden="true"></i>
            <span class="site-menu-title">Projetos</span>
          <% end %>
        </li>

        <li class="site-menu-item ">
          <%= link_to expenses_path, class: "animsition-link", method: :get do %>
            <i class="site-menu-icon wb-tag" aria-hidden="true"></i>
            <span class="site-menu-title">Despesas</span>
          <% end %>
        </li>

        <li class="site-menu-item ">
          <%= link_to teams_path, class: "animsition-link", method: :get do %>
            <i class="site-menu-icon wb-users" aria-hidden="true"></i>
            <span class="site-menu-title">Equipes</span>
          <% end %>
        </li>

        <li class="site-menu-item ">
          <%= link_to reports_path, class: "animsition-link", method: :get do %>
            <i class="site-menu-icon wb-stats-bars" aria-hidden="true"></i>
            <span class="site-menu-title">Relatórios</span>
          <% end %>
        </li>

        <li class="dropdown site-menu-item has-sub">
          <a data-toggle="dropdown" href="javascript:void(0)" data-dropdown-toggle="false">
            <i class="site-menu-icon wb-settings" aria-hidden="true"></i>
            <span class="site-menu-title">Gerenciar</span>
            <span class="site-menu-arrow"></span>
          </a>
          <div class="dropdown-menu">
            <div class="site-menu-scroll-wrap is-list">
              <div>
                <div>
                  <ul class="site-menu-sub site-menu-normal-list">
                    <li class="site-menu-item">
                      <%= link_to clients_path, class: "animsition-link", method: :get do %>
                        <span class="site-menu-title">Clientes</span>
                      <% end %>
                    </li>
                    <li class="site-menu-item">
                      <%= link_to contacts_path, class: "animsition-link", method: :get do %>
                        <span class="site-menu-title">Contatos</span>
                      <% end %>
                    </li>
                    <li class="site-menu-item">
                      <%= link_to tasks_path, class: "animsition-link", method: :get do %>
                        <span class="site-menu-title">Tarefas</span>
                      <% end %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>
