<li class="nav-item dropdown">
  <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" title="Messages"
    aria-expanded="false" data-animation="scale-up" role="button">
    <i class="icon wb-envelope" aria-hidden="true"></i>
    <span class="badge badge-pill badge-info up">3</span>
  </a>
  <div class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
    <div class="dropdown-menu-header" role="presentation">
      <h5>Mensagens</h5>
      <span class="badge badge-round badge-info">Novas (3)</span>
    </div>

    <div class="list-group" role="presentation">
      <div data-role="container">
        <div data-role="content">
          <a class="list-group-item" href="javascript:void(0)" role="menuitem">
            <div class="media">
              <div class="pr-10">
                <span class="avatar avatar-sm avatar-online">
                  <img src="../../global/portraits/2.jpg" alt="..." />
                  <i></i>
                </span>
              </div>
              <div class="media-body">
                <h6 class="media-heading">Joãozinho</h6>
                <div class="media-meta">
                  <time datetime="2018-06-17T20:22:05+08:00">30 minutos atrás</time>
                </div>
                <div class="media-detail">Anyways, i would like just do it</div>
              </div>
            </div>
          </a>
          <a class="list-group-item" href="javascript:void(0)" role="menuitem">
            <div class="media">
              <div class="pr-10">
                <span class="avatar avatar-sm avatar-off">
                  <img src="../../global/portraits/3.jpg" alt="..." />
                  <i></i>
                </span>
              </div>
              <div class="media-body">
                <h6 class="media-heading">Siclaninho</h6>
                <div class="media-meta">
                  <time datetime="2018-06-17T12:30:30+08:00">12 horas atrás</time>
                </div>
                <div class="media-detail">I checheck the document. But there seems</div>
              </div>
            </div>
          </a>
          <a class="list-group-item" href="javascript:void(0)" role="menuitem">
            <div class="media">
              <div class="pr-10">
                <span class="avatar avatar-sm avatar-busy">
                  <img src="../../global/portraits/4.jpg" alt="..." />
                  <i></i>
                </span>
              </div>
              <div class="media-body">
                <h6 class="media-heading">Fulaninho</h6>
                <div class="media-meta">
                  <time datetime="2018-06-16T18:38:40+08:00">2 dias atrás</time>
                </div>
                <div class="media-detail">Lorem ipsum Id consectetur et minim</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="dropdown-menu-footer" role="presentation">
      <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
        <i class="icon wb-settings" aria-hidden="true"></i>
      </a>
      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
        Ver todas as mensagens
      </a>
    </div>
  </div>
</li>
