<tr>
  <td><%= client.name %></td>
  <td>
    <span class="text-muted"><i class="wb wb-time"></i> <%= client.created_at.strftime('%d/%m/%Y') %></span>
  </td>
  <td><%= client.currency_type %></td>
  <td class="text-nowrap">

    <%= link_to edit_client_path(client), class: "btn btn-outline btn-success btn-xs", method: :get do %>
      <span><i class="icon wb-edit" aria-hidden="true"></i>Editar</span>
    <% end %>

    <%= link_to client, class: "btn btn-outline btn-danger btn-xs", method: :delete, data: { confirm: 'Tem certeza que deseja excluir este cliente?' } do %>
      <span><i class="icon wb-close" aria-hidden="true"></i>Excluir</span>
    <% end %>

  </td>
</tr>
