<%= form_for @client, html: { class: "form-horizontal", "data-parsley-validate" => true } do |f|  %>

  <% if f.object.errors.any? %>
    <ul>
      <% f.object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-group row">
    <label class="col-md-3 form-control-label">Nome: </label>
    <div class="col-md-9">
      <%= f.text_field :name, class: "form-control", 'data-parsley-required' => 'true', 'data-parsley-required-message' => 'Campo obrigatório.' %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 form-control-label">Endereço <span class="text-muted">(opcional)</span>: </label>
    <div class="col-md-9">
      <%= f.text_field :address, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 form-control-label">Tipo de Moeda: </label>
    <div class="col-md-9">
      <%= f.select(:currency_type, options_for_select(Client::CURRENCY_TYPE, selected: @client.currency_type), {include_blank: "Selecione uma opção"}, {class: "show-tick", 'data-plugin': "selectpicker", 'data-parsley-required' => 'true', 'data-parsley-required-message' => 'Campo obrigatório.'}) %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-9 offset-md-3">
      <%= f.submit "Salvar", class: "btn btn-primary" %>
      <%= link_to "Cancelar", clients_path, class: "btn btn-default btn-outline", method: :get %>
    </div>
  </div>
<% end %>
