<div class="page">
  <div class="page-header">
    <h1 class="page-title">Clientes</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Início</a></li>
      <li class="breadcrumb-item active">Clientes</li>
    </ol>
    <div class="page-header-actions">
      <%= link_to new_client_path, class: "btn btn-animate btn-animate-side btn-success btn-sm", method: :get do %>
        <i class="icon wb-plus" aria-hidden="true"></i>Novo Cliente
      <% end %>

      <% if @clients.present? %>
        <%= link_to new_contact_path, class: "btn btn-animate btn-animate-side btn-info btn-sm", method: :get do %>
          <i class="icon wb-plus" aria-hidden="true"></i>Adicionar Contato
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="page-content">
    <div class="panel">
      <div class="panel-body">
        <div class="example-wrap">
          <h4 class="example-title">Gerenciar Clientes</h4>
          <% if @clients.present? %>
            <div class="example">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Cliente</th>
                      <th>Data de criação</th>
                      <th>Tipo de moeda</th>
                      <th>Ações</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%= render @clients %>
                  </tbody>
                </table>
              </div>
            </div>
          <% else %>
            <p>Você não possui clientes cadastrados.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
