<tr>
  <td><span class="text-muted"><%= contact.client.name %></span></td>
  <td><%= contact.first_name %> <%= contact.last_name %></td>
  <td><%= contact.email %></td>
  <td><%= contact.office_number %></td>
  <td><%= contact.mobile_number %></td>
  <td class="text-nowrap">

    <%= link_to edit_contact_path(contact), class: "btn btn-outline btn-success btn-xs", method: :get do %>
      <span><i class="icon wb-edit" aria-hidden="true"></i>Editar</span>
    <% end %>

    <%= link_to contact, class: "btn btn-outline btn-danger btn-xs", method: :delete, data: { confirm: 'Tem certeza que deseja excluir este contato?' } do %>
      <span><i class="icon wb-close" aria-hidden="true"></i>Excluir</span>
    <% end %>

  </td>
</tr>
