<%= form_for @contact, html: { class: "form-horizontal", "data-parsley-validate" => true } do |f|  %>

  <% if f.object.errors.any? %>
    <ul>
      <% f.object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-group row">
    <label class="col-md-3 form-control-label">Cliente: </label>
    <div class="col-md-9">
      <%= f.select(:client_id, options_for_select(Client.all.map {|client| [client.name, client.id]}, :selected => f.object.client_id), {include_blank: "Selecione uma opção"}, {class: "show-tick", 'data-plugin': "selectpicker", 'data-parsley-required' => 'true', 'data-parsley-required-message' => 'Campo obrigatório.'}) %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 form-control-label">Nome: </label>
    <div class="col-md-9">
      <%= f.text_field :first_name, class: "form-control", 'data-parsley-required' => 'true', 'data-parsley-required-message' => 'Campo obrigatório.' %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 form-control-label">Sobrenome <span class="text-muted">(opcional)</span>: </label>
    <div class="col-md-9">
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 form-control-label">E-mail: </label>
    <div class="col-md-9">
      <%= f.text_field :email, class: "form-control", 'data-parsley-required' => 'true', 'data-parsley-required-message' => 'Campo obrigatório.', 'data-parsley-type': 'email', 'data-parsley-type-message': 'Por favor, informe um e-mail válido.' %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 form-control-label">Telefone Comercial <span class="text-muted">(opcional)</span>: </label>
    <div class="col-md-9">
      <%= f.text_field :office_number, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 form-control-label">Celular <span class="text-muted">(opcional)</span>: </label>
    <div class="col-md-9">
      <%= f.text_field :mobile_number, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-9 offset-md-3">
      <%= f.submit "Salvar", class: "btn btn-primary" %>
      <%= link_to "Cancelar", contacts_path, class: "btn btn-default btn-outline", method: :get %>
    </div>
  </div>
<% end %>
