<div class="page">
  <div class="page-header">
    <h1 class="page-title">Contatos</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Início</a></li>
      <li class="breadcrumb-item active">Contatos</li>
    </ol>
    <div class="page-header-actions">
      <%= link_to new_contact_path, class: "btn btn-animate btn-animate-side btn-success btn-sm", method: :get do %>
        <i class="icon wb-plus" aria-hidden="true"></i>Novo Contato
      <% end %>
    </div>
  </div>

  <div class="page-content">
    <div class="panel">
      <div class="panel-body">
        <div class="example-wrap">
          <h4 class="example-title">Gerenciar Contatos</h4>
          <% if @contacts.present? %>
            <div class="example">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Cliente</th>
                      <th>Nome</th>
                      <th>E-mail</th>
                      <th>Telefone</th>
                      <th>Celular</th>
                      <th>Ações</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%= render @contacts %>
                  </tbody>
                </table>
              </div>
            </div>
          <% else %>
            <p>Você não possui contatos cadastrados.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
