<%= form_for @project, html: { class: "form-horizontal", "data-parsley-validate" => true } do |f|  %>

  <% if f.object.errors.any? %>
    <ul>
      <% f.object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-group row">
    <label class="col-md-3 form-control-label">Cliente: </label>
    <div class="col-md-9">
      <%= f.select(:client_id, options_for_select(current_user.clients.map {|client| [client.name, client.id]}, :selected => f.object.client_id), {include_blank: "Selecione uma opção"}, {class: "show-tick", 'data-plugin': "selectpicker", 'data-parsley-required' => 'true', 'data-parsley-required-message' => 'Campo obrigatório.'}) %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 form-control-label">Nome: </label>
    <div class="col-md-6">
      <%= f.text_field :name, class: "form-control", 'data-parsley-required' => 'true', 'data-parsley-required-message' => 'Campo obrigatório.' %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 form-control-label">Código Projeto <span class="text-muted">(opcional)</span>: </label>
    <div class="col-md-6">
      <%= f.text_field :project_code, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 form-control-label">Qtd. Horas: </label>
    <div class="col-md-6">
      <%= f.text_field :total_hours, class: "form-control", 'data-parsley-required' => 'true', 'data-parsley-required-message' => 'Campo obrigatório.' %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 form-control-label">Data <span class="text-muted">(opcional)</span>: </label>
    <div class="col-md-3">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="icon wb-calendar" aria-hidden="true"></i>
        </span>
          <%= f.text_field :starts_on, class: "custom-datepicker form-control", placeholder: "Início", "data-plugin" => "datepicker" %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="icon wb-calendar" aria-hidden="true"></i>
        </span>
          <%= f.text_field :ends_on, class: "custom-datepicker form-control", placeholder: "Término", "data-plugin" => "datepicker" %>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 form-control-label">Descrição <span class="text-muted">(opcional)</span>: </label>
    <div class="col-md-6">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-9 offset-md-3">
      <%= f.submit "Salvar", class: "btn btn-primary" %>
      <%= link_to "Cancelar", projects_path, class: "btn btn-default btn-outline", method: :get %>
    </div>
  </div>
<% end %>
