<tr data-link="<%= project_path(project) %>" style="cursor: pointer;">
  <td><%= project.client.name %></td>
  <td><span class="text-muted"> <%= "[#{project.project_code}]" if project.project_code.present? %></span> <%= project.name %></td>
  <td><%= project.starts_on.present? ? project.starts_on : "N/A" %></td>
  <td><%= project.ends_on.present? ? project.ends_on : "N/A" %></td>
  <td><%= project.total_hours.present? ? project.total_hours : "N/A" %></td>
  <td><%= project.timesheets.present? ? project.timesheets.map(&:duration).sum : "N/A" %></td>
  <td><i class="fa fa-usd"></i> <%= project.timesheets.present? ? number_to_currency(project.timesheets.map(&:duration).sum * project.timesheets.map(&:task)[0].hourly_rate.to_f, unit: "", separator: ",", delimiter: "") : "N/A" %></td>
  <td class="text-nowrap">

    <%= link_to project_path(project), class: "btn btn-outline btn-dark btn-xs", method: :get do %>
      <span><i class="icon wb-settings" aria-hidden="true"></i>Gerenciar</span>
    <% end %>

    <%= link_to edit_project_path(project), class: "btn btn-outline btn-success btn-xs", method: :get do %>
      <span><i class="icon wb-edit" aria-hidden="true"></i>Editar</span>
    <% end %>

    <%= link_to project, class: "btn btn-outline btn-danger btn-xs", method: :delete, data: { confirm: 'Tem certeza que deseja excluir este projeto?' } do %>
      <span><i class="icon wb-close" aria-hidden="true"></i>Excluir</span>
    <% end %>

  </td>
</tr>
