<div class="page">
  <div class="page-header">
    <h1 class="page-title">Editar Projeto</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Início</a></li>
      <li class="breadcrumb-item active">Editar Projeto</li>
    </ol>
  </div>

  <div class="page-content">
    <div class="panel">
      <header class="panel-heading">
        <h3 class="panel-title">
          Editar <%= @project.name %>
        </h3>
      </header>
      <div class="panel-body container-fluid">
        <div class="row row-lg">
          <div class="col-md-12 col-lg-9">
              <div class="example">
                <%= render "form" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
