<div class="page">
  <div class="page-header">
    <h1 class="page-title">Projetos</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Início</a></li>
      <li class="breadcrumb-item active">Projetos</li>
    </ol>
    <div class="page-header-actions">
      <%= link_to new_project_path, class: "btn btn-animate btn-animate-side btn-success btn-sm", method: :get do %>
        <i class="icon wb-plus" aria-hidden="true"></i>Novo Projeto
      <% end %>
    </div>
  </div>

  <div class="page-content">
    <div class="panel">
      <div class="panel-body">
        <div class="example-wrap">
          <h4 class="example-title">Gerenciar Projetos</h4>
          <% if @projects.present? %>
            <div class="example">
              <div class="table-responsive table-hover">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Cliente</th>
                      <th>Nome</th>
                      <th>Inicia em</th>
                      <th>Termina em</th>
                      <th>Horas totais</th>
                      <th>Horas trabalhadas</th>
                      <th>Valor total</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <%= render @projects %>
                  </tbody>
                </table>
              </div>
            </div>
          <% else %>
            <p>Você não possui projetos cadastrados.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
