<div class="page">
  <div class="page-content">
    <div class="row">
      <div class="col-xxl-9 col-xl-8 col-lg-12">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title project-title">
              <%= @project.name %>
              <!-- <btn class="btn btn-pure btn-default icon wb-pencil btn-edit"></btn> -->
            </h4>
            <p class="card-text">

            </p>
            <p class="card-text">
                Cliente: <%= link_to @project.client.name, edit_client_path(@project.client.id), method: :get %>
            </p>
            <p class="card-text">
              <% if @project.starts_on.present? || @project.ends_on.present? %>
                <span class="text-muted"><i class="icon wb-calendar" aria-hidden="true"></i>
                  <%= @project.starts_on %> - <%= @project.ends_on %>
                </span>
              <% end %>
            </p>
            <% if @project.description.present? %>
              <p class="card-text">
                <%= @project.description %>
              </p>
            <% end %>
          </div>
          <div class="card-block"><hr></div>

          <div class="card-block ">
            <div class="project-controls clearfix">
              <div class="float-right">
                <%= link_to edit_project_path(@project), class: "btn btn-outline btn-default", method: :get do %>
                  <span><i class="icon wb-pencil" aria-hidden="true"></i>Editar projeto</span>
                <% end %>

                <div class="dropdown">
                  <button type="button" class="btn btn-default btn-outline dropdown-toggle mr-0"
                    data-toggle="dropdown" aria-expanded="true">
                    Ações
                  </button>
                  <div class="dropdown-menu">
                    <%= link_to @project, class: "dropdown-item", method: :delete, data: { confirm: 'Tem certeza que deseja excluir este projeto?' } do %>
                      Excluir
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>

            <div class="col-lg-12 masonry-item">
              <div class="panel" id="daily-feed">
                <div class="panel-heading">
                  <h3 class="panel-title"><span><i class="icon wb-clipboard" aria-hidden="true"></i>Tarefas</span></h3>
                </div>
                <div class="panel-body">
                  <ul class="list-group list-group-dividered list-group-full">
                    <li class="list-group-item">
                      <% if @project.timesheets.present? %>
                        <% @project.timesheets.order("created_at desc").each do |project_timesheet| %>
                        <div class="media">
                          <div class="media-body">
                            <h5 class="mt-0 mb-10">
                              <span><i class="icon wb-calendar" aria-hidden="true"></i><%= project_timesheet.start_date %></span>
                            </h5>
                            <h5 class="mt-0 mb-5">
                              <% if project_timesheet.duration.present? %>
                                <span class="float-right"><%= project_timesheet.duration %> h</span>
                              <% end %>
                            </h5>
                            <p><%= project_timesheet.description %></p>
                            <small><span><i class="icon wb-list" aria-hidden="true"></i>Tarefa:</span>
                              <%= link_to project_timesheet.task.name, edit_task_path(project_timesheet.task.id), style: "color: #77838E;", method: :get %>
                            </small><br>
                            <% if project_timesheet.external_url.present? %>
                              <small>
                                <span><i class="icon wb-link" aria-hidden="true"></i>URL Externa:</span> <%= project_timesheet.external_url %>
                              </small><br>
                            <% end %>
                            <small><span><i class="icon wb-time" aria-hidden="true"></i>
                              <% if project_timesheet.work_to.present? %>
                                <%= project_timesheet.work_from %> até <%= project_timesheet.work_to %>
                              <% else %>
                                Em andamento
                              <% end %>
                            </small>
                            <div class="actions mt-10">
                              <%= link_to edit_timesheet_path(project_timesheet), class: "btn btn-outline btn-default btn-xs", method: :get do %>
                                <i class="icon wb-pencil" aria-hidden="true"></i>Editar
                              <% end %>
                              <hr>
                            </div>
                          </div>
                        </div>
                        <% end %>
                      <% else %>
                      <div class="media">
                        <div class="media-body">
                          <p class="mt-0 mb-10">
                            Não há tarefas cadastradas.
                          </p>
                        </div>
                      </div>
                      <% end %>
                    </li>
                  </ul>
                  <!-- <button type="button" class="btn btn-block btn-primary"><i class="icon wb-chevron-down mr-5" aria-hidden="true"></i>Show
                    More</button> -->
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-3 col-xl-4 col-lg-12">
        <div class="card">
          <div class="card-block">
            <p class="mb-10">
              <span class="float-right pl-10 text-muted"><%= @project.project_code %></span>
              Código do projeto
            </p>
            <p class="mb-10">
              <span class="float-right pl-10"><%= @project.total_hours %> horas</span>
              Total de horas
            </p>
            <p>
              <span class="float-right pl-10"><%= @project.timesheets.map(&:duration).sum if @project.timesheets.present? %> horas</span>
              Horas trabalhadas
            </p>
            </ul>
            <div class="progress progress-lg">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= @project.timesheets.map(&:duration).sum if @project.timesheets.present? %>" aria-valuemin="0" aria-valuemax="<%= @project.total_hours %>" style="width: <%= @project.timesheets.map(&:duration).sum if @project.timesheets.present? %>%;">
              </div>
            </div>
          </div>

          <div class="card card-block p-30">
            <div class="counter counter-lg">
              <div class="counter-label text-uppercase">Valor total (<%= @project.client.currency_type.split.first %>)</div>
              <div class="counter-number-group">
                <span class="counter-icon mr-10 green-600">
                  <i class="fa fa-dollar"></i>
                </span>
                <%if @project.timesheets.present? %>
                  <span class="counter-number"><%= number_to_currency(@project.timesheets.map(&:duration).sum * @project.timesheets.map(&:task)[0].hourly_rate.to_f, unit: "", separator: ",", delimiter: "")%></span>
                <% end %>
              </div>
            </div>
          </div>

          <div class="card-block project-dates">
            <p class="mb-10">
              <span>Data de criação:</span>
              <%= @project.created_at.strftime('%d/%m/%Y') %>
            </p>
            <p class="mb-10">
              <span>Atualizado em:</span>
              <%= @project.updated_at.strftime('%d/%m/%Y')%>
            </p>
          </div>
          <div class="card-block project-fast-operation">
          <%- unless @project.archived? %>
            <%= link_to project_archive_path(@project), method: :post, data: { confirm: 'Tem certeza que deseja arquivar este projeto?' } do %>
              <i class="icon wb-folder mr-10"></i> Arquivar projeto
            <% end %>
          <%- end %>

          <%- if @project.archived? %>
            <%= link_to project_unarchive_path(@project), method: :post, data: { confirm: 'Tem certeza que deseja ativar este projeto novamente?' } do %>
              <i class="icon wb-tag mr-10"></i> Desarquivar projeto
            <% end %>
          <%- end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
