<%= form_for @timesheet, html: { class: "form-horizontal", "data-parsley-validate" => true } do |f|  %>

  <% if f.object.errors.any? %>
    <ul>
      <% f.object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-group row">
    <label class="col-md-3 form-control-label">Projeto: </label>
    <div class="col-md-6">
      <%= f.select(:project_id, options_for_select(current_user.projects.unarchived.map {|project| [project.name, project.id]}, :selected => f.object.project_id), {include_blank: "Selecione uma opção"}, {class: "form-control", 'data-plugin': "selectpicker", 'data-parsley-required' => 'true', 'data-parsley-required-message' => 'Campo obrigatório.'}) %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 form-control-label">Tarefa: </label>
    <div class="col-md-6">
      <%= f.select(:task_id, options_for_select(current_user.tasks.map {|task| [task.name, task.id]}, :selected => f.object.task_id), {include_blank: "Selecione uma opção"}, {class: "form-control", 'data-plugin': "selectpicker", 'data-parsley-required' => 'true', 'data-parsley-required-message' => 'Campo obrigatório.'}) %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 form-control-label">Descrição <span class="text-muted">(opcional)</span>: </label>
    <div class="col-md-6">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 form-control-label">Data de início: </label>
    <div class="col-md-3">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="icon wb-calendar" aria-hidden="true"></i>
        </span>
          <%= f.text_field :start_date, class: "custom-datepicker form-control", "data-plugin" => "datepicker", 'data-parsley-required' => 'true', 'data-parsley-required-message' => 'Campo obrigatório.' %>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 form-control-label">Trabalhou de: </label>
    <div class="col-md-3">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="icon wb-time" aria-hidden="true"></i>
        </span>
          <%= f.text_field :work_from, class: "time-mask form-control", placeholder: "Início", id: "timesheet-start-time" %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="icon wb-time" aria-hidden="true"></i>
        </span>
          <%= f.text_field :work_to, class: "time-mask form-control", placeholder: "Fim", id: "timesheet-end-time" %>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 form-control-label">Duração: </label>
    <div class="col-md-3">
      <%= f.text_field :duration, class: "form-control", id: "timesheet-duration" %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 form-control-label">Link externo <span class="text-muted">(opcional)</span>: </label>
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="icon wb-link" aria-hidden="true"></i>
        </span>
          <%= f.text_field :external_url, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-6 offset-md-3">
      <%= f.submit "Salvar", class: "btn btn-primary" %>
      <%= link_to "Cancelar", timesheets_path, class: "btn btn-default btn-outline", method: :get %>
    </div>
  </div>
<% end %>
