<div class="tab-pane animation-fade active" id="all_contacts" role="tabpanel">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="media">
        <!-- <div class="pr-0 pr-sm-20 align-self-center">
          <div class="avatar avatar-online">
            <img src="../../../global/portraits/1.jpg" alt="...">
            <i class="avatar avatar-busy"></i>
          </div>
        </div> -->
        <div class="media-body align-self-center">
          <h5 class="mt-0 mb-10">
            <span><i class="icon wb-calendar" aria-hidden="true"></i><%= timesheet.start_date %></span>
          </h5>
          <h5 class="mt-0 mb-5">
            <%= "[#{timesheet.project.project_code}]" if timesheet.project.project_code.present? %> <%= link_to timesheet.project.name, project_path(timesheet.project.id), style: "color: #77838E;", method: :get %>
            <small>(<%= link_to timesheet.project.client.name, edit_client_path(timesheet.project.client.id) , style: "color: #77838E;", method: :get %>)</small>
          </h5>
          <p>
            <%= timesheet.description %>
          </p>
          <small><span><i class="icon wb-list" aria-hidden="true"></i>Tarefa:</span> <%= link_to timesheet.task.name, edit_task_path(timesheet.task.id), style: "color: #77838E;", method: :get %></small><br>
          <% if timesheet.external_url.present? %>
            <small><span><i class="icon wb-link" aria-hidden="true"></i>URL Externa:</span> <%= link_to timesheet.external_url, "http://#{timesheet.external_url}", style: "color: #77838E;", target: "_blank" %></small><br>
          <% end %>
          <small><span><i class="icon wb-time" aria-hidden="true"></i>
            <% if timesheet.work_to.present? %>
            <%= timesheet.work_from %> até <%= timesheet.work_to %> (<%= timesheet.duration %> horas)
            <% else %>
              Em andamento
            <% end %>
          </small>
        </div>
        <div class="pl-0 pl-sm-20 mt-15 mt-sm-0 align-self-center">
          <%= link_to edit_timesheet_path(timesheet), class: "btn btn-outline btn-success btn-sm", method: :get do %>
            Editar</span>
          <% end %>

          <%= link_to timesheet, class: "btn btn-outline btn-danger btn-sm", method: :delete, data: { confirm: 'Tem certeza que deseja excluir este registro?' } do %>
            Excluir</span>
          <% end %>
        </div>
      </div><hr>
    </li>
  </ul>
  <nav>
    <ul data-plugin="paginator" data-total="50" data-skin="pagination-no-border"></ul>
  </nav>
</div>
