<div class="page">

  <div class="page-header">
    <h1 class="page-title">Controle de horas</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Início</a></li>
      <li class="breadcrumb-item active">Controle de horas</li>
    </ol>
    <div class="page-header-actions">
      <%= link_to new_timesheet_path, class: "btn btn-animate btn-animate-side btn-info btn-sm", method: :get do %>
        <i class="icon wb-plus" aria-hidden="true"></i>Entrada Manual
      <% end %>
    </div>
  </div>

  <div class="page-content">
    <div class="panel">
      <div class="panel-body">
          <% if @timesheets.present? %>
            <ul class="nav nav-tabs nav-tabs-line" role="tablist">
              <li class="nav-item" role="presentation"><a class="active nav-link" data-toggle="tab" href="#all_contacts"
                  aria-controls="all_contacts" role="tab">Últimas tarefas</a></li>
            </ul>
            <div class="tab-content">

              <%= render @timesheets.order("created_at desc") %>

              <%= paginate @timesheets %>
            </div>
            <% else %>
            <div class="tab-content">Você não possui horas cadastradas.</div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
