<div class="page">
  <div class="page-content">
    <div class="panel">
      <header class="panel-heading">
        <h3 class="panel-title">
          Cadastrar Nova Entrada
        </h3>
      </header>
      <div class="panel-body container-fluid">
        <div class="row row-lg">
          <div class="col-md-12 col-lg-9">
              <div class="example">
                <%= render "form" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
