<div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">>
  <div class="page-content vertical-align-middle animation-slide-top animation-duration-1">
    <div class="brand">
      <img class="brand-img" src="/assets//images/logo.png" alt="...">
      <h2 class="brand-text">Tundra</h2>
    </div>
    <p>Acesse sua conta preenchendo os dados abaixo</p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { "data-parsley-validate" => true }) do |f| %>
      <div class="form-group">
        <label class="sr-only" for="inputEmail">Email</label>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control", 'data-parsley-required' => 'true', 'data-parsley-required-message' => 'Campo obrigatório.', 'data-parsley-type': 'email', 'data-parsley-type-message': 'Por favor, informe um e-mail válido.' %>
      </div>
      <div class="form-group">
        <label class="sr-only" for="inputPassword">Password</label>
        <%= f.password_field :password, autocomplete: "off", placeholder: "Senha", class: "form-control", 'data-parsley-required' => 'true', 'data-parsley-required-message' => 'Campo obrigatório.' %>
      </div>
      <div class="form-group clearfix">
        <div class="checkbox-custom checkbox-inline checkbox-primary float-left">
          <% if devise_mapping.rememberable? -%>
              <%= f.check_box :remember_me %>
          <% end -%>
          <label for="inputCheckbox">Lembrar de mim</label>
        </div>
      </div>
        <%= f.submit "Entrar", class: "btn btn-primary btn-block" %>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
