<!-- Page -->
<div class="page">
  <div class="page-header h-300 mb-30">
    <div class="text-center blue-grey-800 m-0 mt-50">
      <div class="font-size-50 mb-30 blue-grey-800">Olá, <%= current_user.first_name %></div>
      <!-- <ul class="list-inline font-size-14">
        <li class="list-inline-item">
          <i class="icon wb-briefcase mr-5" aria-hidden="true"></i> DRS Solutions
        </li>
        <li class="list-inline-item ml-20">
          <i class="icon wb-heart mr-5" aria-hidden="true"></i> 26,428
        </li>
      </ul> -->
    </div>
  </div>

  <div class="page-content container-fluid">
    <div class="row">

        <div class="col-xl-12 col-lg-12">
          <div class="row">
            <div class="col-lg-4">

              <!-- Card -->

              <div class="card p-30 flex-row justify-content-between">
                <div class="white">
                  <i class="icon icon-circle icon-2x wb-clipboard bg-red-600" aria-hidden="true"></i>
                </div>
                <div class="counter counter-md counter text-right">
                  <div class="counter-number-group">
                    <span class="counter-number">25</span>
                    <span class="counter-number-related text-capitalize">projects</span>
                  </div>
                  <div class="counter-label text-capitalize font-size-16">in design</div>
                </div>
              </div>

              <!-- End Card -->

            </div>

            <div class="col-lg-4">

              <!-- Card -->

              <div class="card p-30 flex-row justify-content-between">
                <div class="counter counter-md text-left">
                  <div class="counter-number-group">
                    <span class="counter-number-related text-capitalize">tarefas</span>
                  </div>
                  <div class="counter-label text-capitalize font-size-16">22 (Janeiro)</div>
                </div>
                <div class="white">
                  <i class="icon icon-circle icon-2x wb-users bg-blue-600" aria-hidden="true"></i>
                </div>
              </div>

              <!-- End Card -->

            </div>

            <div class="col-lg-4">

              <!-- Card -->

              <div class="card p-30 flex-row justify-content-between">
                <div class="counter counter-md text-left">
                  <div class="counter-number-group">
                    <span class="counter-number-related text-capitalize">despesas</span>
                  </div>
                  <div class="counter-label text-capitalize font-size-16">R$ 230,00 (Janeiro)</div>
                </div>
                <div class="white">
                  <i class="icon icon-circle icon-2x wb-tag bg-green-600" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>

            <div class="col-lg-6">
              <!-- Card -->
            </div>

          </div>
        </div>
       </div>
     </div>
    </div>
  </div>
</div>
