<div class="page">
  <div class="page-header">
    <h1 class="page-title">Despesas</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Início</a></li>
      <li class="breadcrumb-item active">Despesas</li>
    </ol>
    <div class="page-header-actions">
      <%#= link_to new_team_path, class: "btn btn-animate btn-animate-side btn-success btn-sm", method: :get do %>
        <!--<i class="icon wb-plus" aria-hidden="true"></i>Nova Despesa-->
      <%# end %>
    </div>
  </div>

  <div class="page-content">
    <div class="panel">
      <div class="panel-body">
        <div class="example-wrap">
          <h4 class="example-title">Gerenciar Despesas</h4>
            <p>Em Construção</p>
        </div>
      </div>
    </div>
  </div>
</div>
