<!DOCTYPE html>
<html class="css-menubar">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

    <title>Tundra Time Tracker</title>

    <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="/assets/images/favicon.ico">

    <!-- Core -->
    <%= stylesheet_link_tag "/global/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag "/global/css/bootstrap-extend.min.css" %>
    <%= stylesheet_link_tag "/assets/css/site.min.css" %>

    <!-- Plugins -->
    <%= stylesheet_link_tag "/global/vendor/animsition/animsition.css" %>
    <%= stylesheet_link_tag "/global/vendor/animsition/animsition.css" %>
    <%= stylesheet_link_tag "/global/vendor/asscrollable/asScrollable.css" %>
    <%= stylesheet_link_tag "/global/vendor/slidepanel/slidePanel.css" %>
    <%= stylesheet_link_tag "/global/vendor/aspieprogress/asPieProgress.css" %>
    <%= stylesheet_link_tag "/global/vendor/jquery-selective/jquery-selective.css" %>
    <%= stylesheet_link_tag "/global/vendor/bootstrap-datepicker/bootstrap-datepicker.css" %>
    <%= stylesheet_link_tag "/global/vendor/bootstrap-select/bootstrap-select.css" %>
    <%= stylesheet_link_tag "/global/vendor/webui-popover/webui-popover.css" %>
    <%= stylesheet_link_tag "/global/vendor/toolbar/toolbar.css" %>

    <!-- Examples -->
    <%= stylesheet_link_tag "/assets/examples/css/tables/basic.css" %>
    <%= stylesheet_link_tag "/assets/examples/css/pages/project.css" %>
    <%= stylesheet_link_tag "/assets/examples/css/pages/user.css" %>

    <!-- Fonts -->
    <%= stylesheet_link_tag "/global/fonts/web-icons/web-icons.min.css" %>
    <%= stylesheet_link_tag "/global/fonts/brand-icons/brand-icons.min.css" %>
    <%= stylesheet_link_tag "/global/fonts/font-awesome/font-awesome.min.css" %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic" %>

    <!--[if lt IE 9]>
    <%= javascript_include_tag "/global/vendor/html5shiv/html5shiv.min.js" %>
    <![endif]-->

    <!--[if lt IE 10]>
    <%= javascript_include_tag "/global/vendor/media-match/media.match.min.js" %>
    <%= javascript_include_tag "/global/vendor/respond/respond.min.js" %>
    <![endif]-->

    <!-- Scripts -->
    <%= javascript_include_tag "/global/vendor/breakpoints/breakpoints.js" %>
    <script>
      Breakpoints();
    </script>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="animsition site-navbar-small dashboard">

    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <%= render "shared/header" %>

    <%= render "shared/alert" %>

    <%= yield %>
  </body>

  <footer class="site-footer">
    <div class="site-footer-legal">© 2020 Tundra Time Tracker</div>
    <div class="site-footer-right">
      Crafted with <i class="red-600 wb wb-heart"></i> by <a href="https://github.com/danilovelozo">Danilo Velozo</a>
    </div>
  </footer>

  <!-- Core  -->
  <%= javascript_include_tag "/global/vendor/babel-external-helpers/babel-external-helpers.js" %>
  <%= javascript_include_tag "/global/vendor/jquery/jquery.js" %>
  <%= javascript_include_tag "/global/vendor/jquery-ui/jquery-ui.js" %>
  <%= javascript_include_tag "/global/vendor/popper-js/umd/popper.min.js" %>
  <%= javascript_include_tag "/global/vendor/bootstrap/bootstrap.js" %>
  <%= javascript_include_tag "/global/vendor/animsition/animsition.js" %>
  <%= javascript_include_tag "/global/vendor/mousewheel/jquery.mousewheel.js" %>
  <%= javascript_include_tag "/global/vendor/asscrollbar/jquery-asScrollbar.js" %>
  <%= javascript_include_tag "/global/vendor/asscrollable/jquery-asScrollable.js" %>

  <!-- Plugins -->
  <%= javascript_include_tag "/global/vendor/slidepanel/jquery-slidePanel.js" %>
  <%= javascript_include_tag "/global/vendor/aspieprogress/jquery-asPieProgress.js" %>
  <%= javascript_include_tag "/global/vendor/matchheight/jquery.matchHeight-min.js" %>
  <%= javascript_include_tag "/global/vendor/jquery-selective/jquery-selective.min.js" %>
  <%= javascript_include_tag "/global/vendor/bootstrap-datepicker/bootstrap-datepicker.js" %>
  <%= javascript_include_tag "/global/vendor/bootstrap-select/bootstrap-select.js" %>
  <%= javascript_include_tag "/global/vendor/toolbar/jquery.toolbar.js" %>
  <%= javascript_include_tag "/global/vendor/summernote/summernote.min.js" %>
  <%= javascript_include_tag "/global/vendor/asprogress/jquery-asProgress.js" %>


  <!-- Scripts -->
  <%= javascript_include_tag "/global/js/Component.js" %>
  <%= javascript_include_tag "/global/js/Plugin.js" %>
  <%= javascript_include_tag "/global/js/Base.js" %>
  <%= javascript_include_tag "/global/js/Config.js" %>

  <%= javascript_include_tag "/assets/js/Section/Menubar.js" %>
  <%= javascript_include_tag "/assets/js/Section/Sidebar.js" %>
  <%= javascript_include_tag "/assets/js/Section/PageAside.js" %>
  <%= javascript_include_tag "/assets/js/Plugin/menu.js" %>

  <!-- Page -->
  <%= javascript_include_tag "/assets/js/Site.js" %>
  <%= javascript_include_tag "/global/js/Plugin/asscrollable.js" %>
  <%= javascript_include_tag "/global/js/Plugin/slidepanel.js" %>
  <%= javascript_include_tag "/global/js/Plugin/switchery.js" %>
  <%= javascript_include_tag "/global/js/Plugin/matchheight.js" %>
  <%= javascript_include_tag "/global/js/Plugin/aspieprogress.js" %>
  <%= javascript_include_tag "/global/js/Plugin/bootstrap-datepicker.js" %>
  <%= javascript_include_tag "/global/js/Plugin/bootstrap-datepicker.pt-BR.js" %>
  <%= javascript_include_tag "/global/js/Plugin/table.js" %>
  <%= javascript_include_tag "/global/js/Plugin/asprogress.js" %>
  <%= javascript_include_tag "/global/js/Plugin/responsive-tabs.js" %>
  <%= javascript_include_tag "/global/js/Plugin/tabs.js" %>

  <!-- Examples -->
  <%= javascript_include_tag "/assets/examples/js/dashboard/team.js" %>
</html>
