<!DOCTYPE html>
<html class="css-menubar">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

    <title>Tundra Time Tracker</title>

    <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="/assets/images/favicon.ico">

    <!-- Core -->
    <%= stylesheet_link_tag "/global/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag "/global/css/bootstrap-extend.min.css" %>
    <%= stylesheet_link_tag "/assets/css/site.min.css" %>

    <!-- Plugins -->
    <%= stylesheet_link_tag "/global/vendor/animsition/animsition.css" %>
    <%= stylesheet_link_tag "/global/vendor/animsition/animsition.css" %>
    <%= stylesheet_link_tag "/global/vendor/asscrollable/asScrollable.css" %>
    <%= stylesheet_link_tag "/global/vendor/slidepanel/slidePanel.css" %>

    <!-- Examples -->
    <%= stylesheet_link_tag "/assets/examples/css/pages/login.css" %>

    <!-- Fonts -->
    <%= stylesheet_link_tag "/global/fonts/web-icons/web-icons.min.css" %>
    <%= stylesheet_link_tag "/global/fonts/brand-icons/brand-icons.min.css" %>
    <%= stylesheet_link_tag "/global/fonts/font-awesome/font-awesome.min.css" %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic" %>

    <!--[if lt IE 9]>
    <%= javascript_include_tag "/global/vendor/html5shiv/html5shiv.min.js" %>
    <![endif]-->

    <!--[if lt IE 10]>
    <%= javascript_include_tag "/global/vendor/media-match/media.match.min.js" %>
    <%= javascript_include_tag "/global/vendor/respond/respond.min.js" %>
    <![endif]-->

    <!-- Scripts -->
    <%= javascript_include_tag "/global/vendor/breakpoints/breakpoints.js" %>
    <script>
      Breakpoints();
    </script>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="page-login layout-full page-dark">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <%= render "shared/alert" %>

    <%= yield %>
  </body>

  <!-- Core  -->
  <%= javascript_include_tag "/global/vendor/babel-external-helpers/babel-external-helpers.js" %>
  <%= javascript_include_tag "/global/vendor/jquery/jquery.js" %>
  <%= javascript_include_tag "/global/vendor/popper-js/umd/popper.min.js" %>
  <%= javascript_include_tag "/global/vendor/bootstrap/bootstrap.js" %>
  <%= javascript_include_tag "/global/vendor/animsition/animsition.js" %>
  <%= javascript_include_tag "/global/vendor/mousewheel/jquery.mousewheel.js" %>
  <%= javascript_include_tag "/global/vendor/asscrollbar/jquery-asScrollbar.js" %>
  <%= javascript_include_tag "/global/vendor/asscrollable/jquery-asScrollable.js" %>

  <!-- Plugins -->
  <%= javascript_include_tag "/global/vendor/slidepanel/jquery-slidePanel.js" %>

  <!-- Scripts -->
  <%= javascript_include_tag "/global/js/Component.js" %>
  <%= javascript_include_tag "/global/js/Plugin.js" %>
  <%= javascript_include_tag "/global/js/Base.js" %>
  <%= javascript_include_tag "/global/js/Config.js" %>

  <!-- Config -->
  <%= javascript_include_tag "/global/js/config/colors.js" %>
  <script>Config.set('assets', '../assets');</script>

  <!-- Page -->
  <%= javascript_include_tag "/assets/js/Site.js" %>
  <%= javascript_include_tag "/global/js/Plugin/tabs.js" %>

</html>
